<!DOCTYPE html>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<GeraFin.Models.ViewModels.GeraFinWeb.ApplicationUser> signInManager
@inject UserManager<GeraFin.Models.ViewModels.GeraFinWeb.ApplicationUser> userManager
@inject GeraFin.DAL.DataAccess.ApplicationDbContext context
@{
   GeraFin.Models.ViewModels.GeraFinWeb.ApplicationUser AppUser = await userManager.GetUserAsync(User);
}
<html>
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <title>@ViewData["Title"] - Inventory</title>
   <!-- Tell the browser to be responsive to screen width -->
   <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   <!--AdminLTE-->
   <!-- Bootstrap 3.3.7 -->
   <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
   <link rel="stylesheet" href="~/adminlte/plugins/pace/pace.min.css">
   <link rel="stylesheet" href="~/adminlte/dist/css/AdminLTE.min.css">
   <link rel="stylesheet" href="~/adminlte/dist/css/skins/_all-skins.css">
   @*<link rel="stylesheet" href="~/content/ejthemes/flat-azure-dark/ej.web.all.min.css">*@
   <link rel="stylesheet" href="~/adminlte/components/fullcalendar/dist/fullcalendar.min.css">
   <link rel="stylesheet" href="~/adminlte/components/fullcalendar/dist/fullcalendar.print.min.css" media="print">
   <link rel="stylesheet" href="~/adminlte/components/bootstrap-daterangepicker/daterangepicker.css">
   <link rel="stylesheet" href="~/adminlte/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
   <link rel="stylesheet" href="~/adminlte/components/morris.js/morris.css">
   <link rel="stylesheet" href="~/adminlte/components/jvectormap/jquery-jvectormap.css">
   <link rel="stylesheet" href="~/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
   <link rel="stylesheet" href="~/content/Fonts.GoogleAPI/Fonts.GoogleAPI.css">
   <link rel="stylesheet" href="~/css/timeout-dialog.css">
   <link rel="stylesheet" href="~/css/Loader.css">

   <!--Snycfusion-->
   <link href="~/content/ejthemes/bootstrap-theme/ej.web.all.min.css" rel="stylesheet" />
   <link href="~/content/default-responsive.css" rel="stylesheet" />
   <link href="~/content/ejthemes/responsive-css/ej.responsive.css" rel="stylesheet" />
   <link href="~/content/ejthemes/responsive-css/ejgrid.responsive.css" rel="stylesheet" />

   @RenderSection("Styles", required: false)
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
   <div class="wrapper">

      <div id="loader"></div>

      <!--INFO MODEL-->
      <div class="modal modal-info fade" id="modal-info" style="display: none;">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                  </button>
                  <h4 style="text-align:center" class="modal-title">Delete Confirmation</h4>
               </div>
               <div class="modal-body">
                  <p style="text-align:center; font-size: 12px;">The Selected Records Have Been Deleted Sucsessfully!</p>
               </div>
               <div class="modal-footer" style="text-align:center">
                  <button type="button" class="btn btn-outline" data-dismiss="modal" style="text-align:center">Close</button>
                  @*<button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Yes</button>*@
               </div>
            </div>
         </div>
      </div>
      <div id="DoPostBack" style="display: none;"></div>
      <!--WARNING MODEL-->
      <div class="modal modal-warning fade" id="modal-warning">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                  </button>
                  <h4 style="text-align:center" class="modal-title">New Stock Transfer Recieved</h4>
               </div>
               <div class="modal-body">
                  <p id="ModelBodyDisplayText" style="text-align:center;font-size: xx-large;">New Stock Transfer Recieved From: @GeraFin.Controllers.Api.GeraFinUserController.BranchName</p>
                  <p id="TransferItemNam" style="text-align:left; font-size: large; margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 2px;">Transfer Item Name: @GeraFin.Controllers.Api.GeraFinUserController.TransferItem</p>
                  <p id="TransferItemQTY" style="text-align:left; font-size: large; margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 2px;">Transfer Item Qty &nbsp;&nbsp;&nbsp;: @GeraFin.Controllers.Api.GeraFinUserController.TransQTY</p>
               </div>
               <div class="modal-footer" style="text-align:center">
                  <button type="button" id="StocktransferConfirm" class="btn btn-outline" data-dismiss="modal" style="text-align:center">Ok</button>
                  @*<button type="button" class="btn btn-outline">Save changes</button>*@
               </div>
            </div>
         </div>
      </div>

      <!--SUCCESS MODEL-->
      <div class="modal modal-success fade" id="modal-success">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title">Success Modal</h4>
               </div>
               <div class="modal-body">
                  <p>One fine body…</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-outline">Ok</button>
               </div>
            </div>
         </div>
      </div>

      <!--FAIL MODEL-->
      <div class="modal modal-danger fade" id="modal-danger">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" style="text-align:center">Available Quantity Error</h4>
               </div>
               <div class="modal-body">
                  <p style="text-align:center">Available Quantity is less than selected Quantity</p>
               </div>
               <div class="modal-footer" style="text-align:center">
                  <button type="button" style="text-align:center" class="btn btn-outline" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>

      <!--INFO MODEL-->
      <div class="modal modal-danger fade" id="modal-admin" style="display: none;">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                  </button>
                  <h4 style="text-align:center" class="modal-title">Welcome @User.Identity.Name !</h4>
               </div>
               <div class="modal-body">
                  <p style="text-align:center; font-size: 12px;">Please enable the branch you would like to view.</p>
               </div>
               <div class="modal-footer" style="text-align:center">
                  <button type="button" class="btn btn-outline" data-dismiss="modal" style="text-align:center">Close</button>
                  @*<button type="button" class="btn btn-outline pull-right" data-dismiss="modal">Yes</button>*@
               </div>
            </div>
         </div>
      </div>
      <!-- Content Wrapper. Contains page content -->
      @{await Html.RenderPartialAsync("_AdminlteMainHeader", AppUser); }
      <!-- Left side column. contains the logo and sidebar -->
      @{await Html.RenderPartialAsync("_AdminlteMainSidebar", AppUser); }
      <!--Cookie Consent Bar-->
      @{await Html.RenderPartialAsync("_CookieConsentPartial"); }
      <!-- Content Wrapper. Contains page content -->
      @RenderBody()
      <!-- /.content-wrapper -->
      @{await Html.RenderPartialAsync("_AdminlteFooter"); }
   </div>
      <!-- ./wrapper -->
      <!--AdminLTE-->
      <!-- jQuery 3 -->

      <script src="~/adminlte/components/jquery/dist/jquery.min.js"></script>
      <script src="~/adminlte/components/jquery/dist/jquery.validate.min.js"></script>
      <script src="~/adminlte/components/jquery/dist/additional-methods.min.js"></script>
      <!-- jQuery UI 1.11.4 -->
      <script src="~/adminlte/components/jquery-ui/jquery-ui.min.js"></script>
      <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
      <script>
         $.widget.bridge('uibutton', $.ui.button);
      </script>
      <!-- Bootstrap 3.3.7 -->
      <script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- Morris.js charts-->
      <script src="~/adminlte/components/raphael/raphael.min.js"></script>
      <script src="~/adminlte/components/morris.js/morris.min.js"></script>

      <!-- Sparkline -->
      <script src="~/adminlte//components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
      <!-- jvectormap -->
      <script src="~/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
      <script src="~/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
      <!-- jQuery Knob Chart -->
      <script src="~/adminlte/components/jquery-knob/dist/jquery.knob.min.js"></script>
      <!-- daterangepicker -->
      <script src="~/adminlte/components/moment/moment.js"></script>
      <script src="~/adminlte/components/bootstrap-daterangepicker/daterangepicker.js"></script>
      <!-- datepicker -->
      <script src="~/adminlte/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
      <!-- Bootstrap WYSIHTML5 -->
      <script src="~/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
      <!-- Slimscroll -->
      <script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <!-- FastClick -->
      <script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
      <!-- AdminLTE App -->
      <script src="~/adminlte/dist/js/adminlte.min.js"></script>
      <!-- AdminLTE dashboard-->
      <script src="~/adminlte/dist/js/pages/dashboard.js"></script>
      <script src="~/adminlte/dist/js/demo.js"></script>
      <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

      <script src="~/js/site.js"></script>
      <script src="~/adminlte/components/PACE/pace.min.js"></script>
      <script src="~/js/Calander.js"></script>
      <script src="~/adminlte/components/fullcalendar/dist/fullcalendar.min.js"></script>

      <!--Syncfusion-->
      <script src="~/scripts/jsrender.min.js"></script>
      <script src="~/scripts/ej.web.all.min.js" type="text/javascript"></script>
      <script src="~/scripts/properties.js" type="text/javascript"></script>
      <script src="~/scripts/jquery.validate.min.js"></script>
      <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
      <script src="~/js/Loader.js"></script>
      <script>
         document.getElementById("StocktransferConfirm").addEventListener("click", function () {

            $("#SubmitHidden").submit();
         });
      </script>

      <script>
      if ('@HttpContextAccessor.HttpContext.Session.GetString("_Name")'=='') {
            if (confirm("Your session was expired !")) {
                window.location.href = "/Account/Login";
            }
        }
      </script>
      <!--Timeout Dialogue-->
      <script src="~/scripts/timeout-dialog.js"></script>

      @RenderSection("Scripts", required: false)
</body>
</html>


